*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2d9c7;
  font-family: 'Kaushan Script', cursive;
}

.wrapper {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 20px;
 }

h1 {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 36px;
}

.btn-cont {
  max-width: 330px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 30px);
  row-gap: 15px;
  column-gap: 20%;
  }

.upper-btn {
  width: 100%;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid rgb(129, 33, 33);
  box-shadow: 3px 3px 3px rgb(177, 145, 145);
  font: 400 14px 'Arial', sans-serif;
  letter-spacing: 1px;
  }

.upper-btn:hover {
  cursor: pointer;
  transform: scale(110%);
  transition: transform 0.4s;
}

.count-cont {
  max-width: 400px;
  height: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }

.count {
  font: 400 16px 'Kaushan Script', cursive;;
}

.puzzle {
  width: 330px;
  height: 330px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1f);
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px 'Kaushan Script', cursive;
  color: brown;
  cursor: pointer;
}

/* анимация для передвижения фишки */

.right {
  transform: translateX(calc(100% + 10px));
  transition: transform 0.4s;
 }

.left {
  transform: translateX(calc(-100% - 10px));
  transition: transform 0.4s;
 }

.up {
  transform: translateY(calc(-100% - 10px));
  transition: transform 0.4s;
 }
.down {
  transform: translateY(calc(100% + 10px));
  transition: transform 0.4s;
  }

.empty {
  border: none;
}

.win-div {
  position: absolute;
  top: 35vh;
  left: 25%;
  width: 50%;
  text-align: center;
  font: 800 26px 'Kaushan Script', cursive;
  letter-spacing: 2px;
  background-color: rgb(216, 216, 216);
  box-shadow: 4px 4px 4px 4px rgb(177, 145, 145);;
  border-radius: 25px;
  padding: 10px;
}

.win-list {
  max-width: 330px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font: 400 16px 'Kaushan Script', cursive;
  color: brown;
  background-image: url(list1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h4 {
  padding-top: 4px;
  margin-bottom: 10px;
}

.win-row {
  width: 200px;
  margin: 5.5px 0;
  text-align: left;
  font: 400 14px 'Arial', sans-serif;
  letter-spacing: 1px;
  color: black;
  padding-left: 7px;
 }